:root {
  --color-white: #fff;
  --color-dark1: #272727;
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-green: #55805f;
  
}
body {
  width: auto;
  height: auto;
  background-color: var(--color-dark1);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  text-transform: lowercase;
}
/*header*/

#header {
  font-weight: 800;
  display: flex;
}
#header-p p{
  font-size: 27px;
  margin-top: 10px;

  margin-left: 700px;

  word-spacing: 60px;
}

#portfolio p{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 74px;
  margin-top: 10px;

  font-size: 30px;
}
/*header*/


/*main*/
main {
  display: flex;
  flex-direction: row;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#text{
  text-align: right;
  margin-right: 90px;
  margin-top: 300px;
  margin-left: 500px;
  position: absolute;

}
#text p{
  font-weight: 600;
  font-size: 45px;
  position:static;
  border: auto;
  
}
#text span{
  font-size: 54px;
}


#profile-pic img {
  height: 500px;
  background-blend-mode: luminosity;

  margin-left: 74px;
  margin-top: 32px;
}


/* main */







/* footer */
footer {
  display: block;
  margin-left: 74px;
  margin-top: auto;
}
#footer-text {
  display: flex;
  font-size: 30px;

}
#linha2{
  margin-left: 700px;
}
#footer-specific{
  display: flex;
}
#footer-specific2{

  font-size: 24px;
}
#footer-specific p{
  margin-left: 500px;
  margin-top: auto;
}
#footer-specific img {
  display: inline-block;
  width: 117.809px;
  height: 113px;

  background-blend-mode: luminosity;
}

/* footer */

 
